html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px 0px 30px;
	text-align: center;
}

.page-container {
	padding: 50px;
	background-color: #ddd;
	max-width: 1400px;
	margin: auto;
	height: 100vh;
    font-family: Aspira, Helvetica, Helvetica Neue, Arial;	
}

.content-wrapper {
	border-radius: 10px;
	background-color: #f5f5f5;
	margin-bottom: 50px;
	overflow: hidden;
}

.content-container {
	padding: 60px;
}

.abstract {
	margin-bottom: 30px;

}

.image-gallery-wrapper {
	position: relative;
	border: 0px;
	width: 100%;
	max-width: 1000px;
	max-height: 500px;
	overflow: hidden;
}

.image-gallery-wrapper .image-gallery-image {
	display: flex;
	justify-content: center;
}

.image-gallery-wrapper .image-gallery-slides .image-gallery-slide {
	background: transparent;
}

.image-gallery-wrapper .image-gallery-slides .image-gallery-slide img {
   width: unset;
   max-width: 1000px;   
   max-height: 500px;
   object-fit: contain;
}


.error h5 {
	color: red;
}

.error .message {
	padding: 30px;
	background-color: #f5f5f5;
	border: 1px dashed #d5d5d5;
	display: inline-block;
}

